
@font-face {
  font-family: "SangBleuEmpire";
  src:url(/assets/fonts/SangBleuEmpire/SangBleuEmpire-Regular.woff2) format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "SangBleuSunrise";
  src:url(/assets/fonts/SangBleuSunrise/SangBleuSunrise-Light.woff2) format("woff2");
  font-style: normal;
}




@font-face {
  font-family: "SpaceGrotesk";
  src:url(../fonts/SpaceGrotesk-Bold.woff2) format("woff2");
  font-weight:200;
  font-style:normal;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Extralight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/assets/fonts/ClashDisplay/ClashDisplay-Variable.woff2") format("woff2-variations");
  font-weight: 200 700;
}

@font-face {
  font-family: "Zodiak-Light";
  src: url("/assets/fonts/Zodiak-Light.woff2") format("woff2");
  font-weight: 200 700;
}



