
@font-face {
  font-family: "SangBleuEmpire";
  src:url(/assets/fonts/SangBleuEmpire/SangBleuEmpire-Regular.woff2) format("woff2");
  font-style: normal;
}




@font-face {
  font-family: SpaceGrotesk;
  src:url(../fonts/SpaceGrotesk-Bold.woff2) format("woff2");
  font-weight:200;
  font-style:normal;
}



