
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'SpaceGrotesk';
}

.scroll-container {
    display: block;
    grid-template-columns: 600px 600px 600px 600px 600px 600px;
    grid-template-rows: 600px 600px 600px 600px 600px 600px;
    width: 3000px;
    height: 3000px; 
    overflow: auto; 
    background: radial-gradient(circle, #e66465, #9198e5);
    background-image: url(/assets/img/rahmen_6px_white.png), radial-gradient(circle, #e66465, #9198e5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }


  .centered-heading {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem; 
    color: rgb(111, 255, 113);
    width: 1400px;
    height: 780px;
    background-image: radial-gradient(#9198e5ab #e66464);
    border-color: rgb(111, 255, 113);
    border-style: solid;
    border-width: 10px;
    z-index: 1000;
  }

h2{
  font-size: 20pt;
  margin: 50px;
  color: black;
}

.box1 {
    width: 440px;
    height: 300px;
	  background-size: cover;
	  background-repeat: no-repeat;
    color: #fff;
    margin: 0px;
    font-size: 50pt;
    color: rgb(111, 255, 113); 
    text-align: center;
}

main{
    margin: 0;
}


